h1 {
    font-size: 60px;
    margin-top: 20px;
    padding-top: 50px;
    text-align: center;
    color: #6992f2; 
    font-family: 'Source Sans 3', sans-serif;
  }

body {
  background: #D4D4D4;
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center; /* Center text within the body initially */
}

.content-container {
      width: 60%;
      max-width: 800px;
      padding: 20px;
      box-sizing: border-box;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      text-align: left; /* Align text to the left within the container */
    }

    .content-container h1,
    .content-container h3,
    .content-container p {
      text-align: left; /* Ensure headings and paragraphs are left-aligned */
    }

    .content-container p {
      line-height: 1.6;
      font-family: sans-serif;
    }
